body {
  padding-top: 2rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

input[name=ticketid] {
	font-size: 70pt !important;
	max-width: 300px;
}

video {
	max-width: 300px;
	display: inline;
}

.modal-body {
	text-align: center;
}